<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trafimau_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.example.trafimau_app.provider.READ"
        android:protectionLevel="signature" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_knight"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_knight_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".activity.welcome_page.ActivityWelcomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.launcher.ActivityLauncher" />
        <activity
            android:name=".activity.ActivityProfile"
            android:parentActivityName=".activity.launcher.ActivityLauncher" />

        <provider
            android:name=".data.AppsLaunchCountProvider"
            android:authorities="com.example.trafimau_app.provider"
            android:exported="true"
            android:readPermission="com.example.trafimau_app.provider.READ" />

        <receiver
            android:name=".receivers.SilentPushReceiver"
            android:exported="false">
            <intent-filter>
                <!-- Recieve silent push notifications. -->
                <action android:name="${applicationId}.action.ymp.SILENT_PUSH_RECEIVE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8aeba7c3ec63adc1141616f33036329f545d13e4" />
    </application>

</manifest>